.receitas {

background: #e5e5e5;
display: flex;
flex-wrap: wrap;



}


@media  screen and (min-widht:0) {
    .receitas {

        padding: 1rem 0 0 1rem;
      

    }
    
}
@media screen and (min-width:768px) {
    .receitas {
       
        padding: 0 0 0 1.5rem;
    }
    
}

@media screen and (min-width:992px) {
    .receitas {
        padding: 5rem 3rem 0 5rem;

    }
    
}