.receita-botao {

    background-color:#8d0606 ;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
   margin-left: 35%;
   transition: all .1s ease-in-out;
}
.receita-botao:hover{
    background-color: #620404;
    cursor: pointer;
    
}